@import "tailwindcss";

@theme {
  --color-bg-custom: #000000;
  --color-bg-secondary: #111111;
  --color-text-primary: #ffffff;
  --color-text-secondary: #a1a1a1;
  --color-accent: #a0b800;
  --color-accent-hover: #bde000;

  --radius-custom: 12px;
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--color-accent) var(--color-bg-custom);
}

/* Scrollbar personalizado */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg-custom);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 10px;
  border: 2px solid var(--color-bg-custom);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-accent-hover);
}

body {
  background-color: var(--color-bg-custom);
  color: var(--color-text-primary);
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}
